h1, h2 {
    margin: 20px;
}

.table {
    width: 1000px;
    margin: 20px;
}

.form-group {
    margin: 20px;
}

.form-control {
    width: 350px;
}

#go-to-create-form {
    margin-left: 20px;
}

#create-button {
    margin-left: 20px;
    margin-bottom: 20px;
}

#cancel-button {
    margin-left: 20px;
    margin-bottom: 20px;
}

#back-button {
    margin-left: 20px;
}

