h1, h2 {
    margin: 20px;
}

.table {
    width: auto;
    margin: 20px;
}

.form-group {
    margin: 20px;
}

.form-control {
    width: 350px;
}

#go-to-create-form {
    margin-left: 20px;
}

#create-button {
    margin-left: 20px;
    margin-bottom: 20px;
}

#cancel-button {
    margin-left: 20px;
    margin-bottom: 20px;
}

#back-button {
    margin-left: 20px;
}

.button-row {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

select {
    -webkit-appearance: none;
    background-color: white;
    border-radius: 1px;
    width: 350px;
    height: 30px;
    font-size: 18px;
    color: #212529;
    padding: 1px 5px 3px 5px;
}

