<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>People Tracker</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/css/base.css" rel="stylesheet" th:href="@{/css/base.css}"/>
</head>
<body>
<h2>Create a Person Record</h2>
<form method="POST" th:action="@{/people/{id}(id=${person.peopleId})}" th:object="${person}">
    <input type="hidden" name="_method" value="PUT">
    <div class="form-group">
        <input class="form-control" type="hidden" th:field="*{peopleId}" th:value="*{peopleId}" />
    </div>
    <div class="form-group">
        <label th:for="firstName">First Name: </label>
        <input class="form-control" type="text" th:field="*{firstName}" th:value="*{firstName}"/>
    </div>
    <div class="form-group">
        <label th:for="middleName">Middle Name: </label>
        <input class="form-control" type="text" th:field="*{middleName}" th:value="*{middleName}"/>
    </div>
    <div class="form-group">
        <label th:for="lastName">Last Name: </label>
        <input class="form-control" type="text" th:field="*{lastName}" th:value="*{lastName}"/>
    </div>
    <div class="form-group">
        <label th:for="birthday">Birthday: </label>
        <input class="form-control" type="text" th:field="*{birthday}" th:value="*{birthday}"/>
    </div>
    <div class="form-group">
        <label th:for="favoriteColor">Favorite Color: </label>
        <br />
        <select th:field="*{favoriteColor}">
            <option th:value="''">Choose a favorite color</option>
            <option th:value="BLUE" th:selected="${person.favoriteColor == 'BLUE'}">BLUE</option>
            <option th:value="BLACK" th:selected="${person.favoriteColor == 'BLACK'}">BLACK</option>
            <option th:value="RED" th:selected="${person.favoriteColor == 'RED'}">RED</option>
            <option th:value="PURPLE" th:selected="${person.favoriteColor == 'PURPLE'}">PURPLE</option>
            <option th:value="ORANGE" th:selected="${person.favoriteColor == 'ORANGE'}">ORANGE</option>
            <option th:value="YELLOW" th:selected="${person.favoriteColor == 'YELLOW'}">YELLOW</option>
            <option th:value="GREEN" th:selected="${person.favoriteColor == 'GREEN'}">GREEN</option>
            <option th:value="WHITE" th:selected="${person.favoriteColor == 'WHITE'}">WHITE</option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="birthLocation">Birth Location: </label>
        <input class="form-control" type="text" th:field="*{birthLocation}" th:value="*{birthLocation}"/>
    </div>
    <div class="form-group">
        <label th:for="motherName">Mother's Name: </label>
        <input class="form-control" type="text" th:field="*{motherName}" th:value="*{motherName}"/>
    </div>
    <div class="form-group">
        <label th:for="fatherName">Father's Name: </label>
        <input class="form-control" type="text" th:field="*{fatherName}" th:value="*{fatherName}"/>
    </div>
    <div class="form-group">
        <label th:for="maritalStatus">Marital Status: </label>
        <br />
        <select th:field="*{maritalStatus}">
            <option th:value="''">Choose a marital status</option>
            <option th:value="SINGLE" th:selected="${person.maritalStatus == 'SINGLE'}">SINGLE</option>
            <option th:value="MARRIED" th:selected="${person.maritalStatus == 'MARRIED'}">MARRIED</option>
            <option th:value="DIVORCED" th:selected="${person.maritalStatus == 'DIVORCED'}">DIVORCED</option>
            <option th:value="WIDOWED" th:selected="${person.maritalStatus == 'WIDOWED'}">WIDOWED</option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="gender">Gender: </label>
        <br />
        <select th:field="*{gender}">
            <option th:value="''">Choose a gender</option>
            <option th:value="FEMALE" th:selected="${person.gender == 'FEMALE'}">FEMALE</option>
            <option th:value="MALE" th:selected="${person.gender == 'MALE'}">MALE</option>
            <option th:value="OTHER" th:selected="${person.gender == 'OTHER'}">NON-BINARY or OTHER</option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="isVegetarianOrVegan">Is Vegetarian or Vegan?: </label>
        <br />
        <select th:field="*{isVegetarianOrVegan}">
            <option th:value="''">Choose dietary option</option>
            <option th:value="NO" th:selected="${person.isVegetarianOrVegan == 'NO'}">NO</option>
            <option th:value="YES" th:selected="${person.isVegetarianOrVegan == 'YES'}">YES</option>
        </select>
    </div>

    <a id="cancel-button" class="btn btn-secondary" role="button" th:href="@{/people(page=0,limit=10)}">Cancel</a>
    <input id="create-button" class="btn btn-primary" type="submit" value="Update Person">
</form>
</body>
</html>