<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>People Tracker</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/css/base.css" rel="stylesheet" th:href="@{/css/base.css}"/>
</head>
<body>
<h2>Create a Person Record</h2>
<form method="POST" th:action="@{/people}" th:object="${person}">
    <div class="form-group">
        <label th:for="firstName">First Name: </label>
        <input class="form-control" type="text" th:field="*{firstName}"/>
    </div>
    <div class="form-group">
        <label th:for="middleName">Middle Name: </label>
        <input class="form-control" type="text" th:field="*{middleName}"/>
    </div>
    <div class="form-group">
        <label th:for="lastName">Last Name: </label>
        <input class="form-control" type="text" th:field="*{lastName}"/>
    </div>
    <div class="form-group">
        <label th:for="birthday">Birthday: </label>
        <input class="form-control" type="text" th:field="*{birthday}"/>
    </div>
    <div class="form-group">
        <label th:for="favoriteColor">Favorite Color: </label>
        <br />
        <select th:field="*{favoriteColor}">
            <option th:value="''">Choose a favorite color</option>
            <option th:value="BLUE">BLUE</option>
            <option th:value="BLACK">BLACK</option>
            <option th:value="RED">RED</option>
            <option th:value="PURPLE">PURPLE</option>
            <option th:value="ORANGE">ORANGE</option>
            <option th:value="YELLOW">YELLOW</option>
            <option th:value="GREEN">GREEN</option>
            <option th:value="WHITE">WHITE</option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="birthLocation">Birth Location: </label>
        <input class="form-control" type="text" th:field="*{birthLocation}"/>
    </div>
    <div class="form-group">
        <label th:for="motherName">Mother's Name: </label>
        <input class="form-control" type="text" th:field="*{motherName}"/>
    </div>
    <div class="form-group">
        <label th:for="fatherName">Father's Name: </label>
        <input class="form-control" type="text" th:field="*{fatherName}"/>
    </div>
    <div class="form-group">
        <label th:for="maritalStatus">Current Marital Status: </label>
        <br />
        <select th:field="*{maritalStatus}">
            <option th:value="''">Choose a marital status</option>
            <option th:value="SINGLE">SINGLE</option>
            <option th:value="MARRIED">MARRIED</option>
            <option th:value="DIVORCED">DIVORCED</option>
            <option th:value="WIDOWED">WIDOWED</option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="gender">Gender: </label>
        <br />
        <select th:field="*{gender}">
            <option th:value="''">Choose a gender</option>
            <option th:value="FEMALE">FEMALE</option>
            <option th:value="MALE">MALE</option>
            <option th:value="OTHER">NON-BINARY or OTHER</option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="isVegetarianOrVegan">Is this Person a vegetarian or vegan?: </label>
        <br />
        <select th:field="*{isVegetarianOrVegan}">
            <option th:value="''">Choose dietary option</option>
            <option th:value="NO">NO</option>
            <option th:value="YES">YES</option>
        </select>
    </div>

    <a id="cancel-button" class="btn btn-secondary" role="button" th:href="@{/people}">Cancel</a>
    <input id="create-button" class="btn btn-primary" type="submit" value="Create Person">
</form>
</body>
</html>