<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>People Tracker</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link href="../static/css/base.css" rel="stylesheet" th:href="@{/css/base.css}"/>
</head>
<body>
    <h1 th:text="${person.firstName} + ' ' + ${person.lastName}" class="text-left">People Tracker</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Attribute</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row">
                <td>Person Id</td>
                <td th:text="${person.peopleId}">Person Id</td>
            </tr>
            <tr scope="row">
                <td>First Name</td>
                <td th:text="${person.firstName}">First Name</td>
            </tr>
            <tr scope="row">
                <td>Last Name</td>
                <td th:text="${person.middleName}">Middle Name</td>
            </tr>
            <tr scope="row">
                <td>Last Name</td>
                <td th:text="${person.lastName}">Last Name</td>
            </tr>
            <tr scope="row">
                <td>Birthday</td>
                <td th:text="${person.birthday}">Birthday</td>
            </tr>
            <tr scope="row">
                <td>Favorite Color</td>
                <td th:text="${person.favoriteColor}">Favorite Color</td>
            </tr>
            <tr scope="row">
                <td>Birth Location</td>
                <td th:text="${person.birthLocation}">Birth Location</td>
            </tr>
            <tr scope="row">
                <td>Mother's Name</td>
                <td th:text="${person.motherName}">Mother's Name</td>
            </tr>
            <tr scope="row">
                <td>Father's Name</td>
                <td th:text="${person.fatherName}">Father's Name</td>
            </tr>
            <tr scope="row">
                <td>Marital Status</td>
                <td th:text="${person.maritalStatus}">Marital Status</td>
            </tr>
            <tr scope="row">
                <td>Gender</td>
                <td th:text="${person.gender}">Gender</td>
            </tr>
            <tr scope="row">
                <td>Vegetarian or Vegan?</td>
                <td th:text="${person.isVegetarianOrVegan}">Vegetarian/Vegan?</td>
            </tr>
        </tbody>
    </table>
    <a id="back-button" class="btn btn-secondary" th:href="@{/people}" role="button">Back</a>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
</body>
</html>